/* Navbar.css */

body, nav, ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 ;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.4s ease;
  }
  
  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .menu-items {
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  
  .login-button {
    margin-left: auto;
  }
  
  .btn-login {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #fff;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      padding: 0 10px; /* Adjust padding for smaller screens */
    }
  
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      position: absolute;
      top: 60px; /* Adjust as needed based on your navbar height */
      left: 0;
      right: 0;
      background-color: #333;
      padding: 10px 0;
      flex-direction: column;
      text-align: center;
      z-index: 999;
    }
  
    .nav-menu.active {
      display: flex;
    }
  }
  